@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('./Photos/model1.jpg');background-size: 100% 100%; min-height:500px" >
    <h1 class=" text-dark ml-n2">Wellcome!</h1>
    <br />
    <p class="lead text-dark">

        <b><i>"A girl should be two things: <br /> classy and fabulous."</i>  <br />   Coco Chanel</b>
    </p>
    
    <br />
    <br />
    <p></p>
    <p class="lead ">
        <a class="btn btn-primary btn-lg" href="#" role="button">Let's shop!</a>
    </p>
</div>