


<form class="form-inline my-2 mr-2">




    <img class="ml-5 mr-5 mt-2" src="./logo_medi.jpg" height="80" width="100" alt="Image not found." />

    <div class="ml-5">

    </div>

    <div style="width:6em">

    </div>
    <input class="form-control mr-sm-2 ml-5" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0 mr-5" type="submit">Search</button>







    <input type="image" class="ml-5" src="./Photos/korpaOkrugla1.jpg" height="50" width="50" alt="Can not find the image." placeholder="My cart" />
    <div class="text-wrap">
        <!-- ml-n2  znaci negative 2 -->
        <span class="badge badge-pill badge-warning ml-n2">0</span>
        <p class="ml-1 mr-2">Cart  </p>

    </div>


    <input type="image" style="border-radius: 50%;" class="ml-3 mr-1" src="./Photos/wish.png" height="35" width="35" alt="Can not find the image." placeholder="My profile" />
    <p class="mt-2 mb-n2 ">Wishlist</p>
    <input type="image" class="ml-3 mr-1" src="./Photos/userLadyBlack.png" height="50" width="50" alt="Can not find the image." placeholder="My profile" />
    <div class="text-wrap ">
        <p class="mt-2 mb-n2">My account</p>

        <div style='display:inline'>
            <small style='display:inline' id="signIn" class="form-text text-muted">Sign in | </small>
        </div>
        <div style='display:inline'>
            <small style='display:inline' id="join" class="form-text text-muted">Join </small>
        </div>
    </div>




</form>
